.bigbutton {
  //-webkit-appearance: none;
  width: 100%;
  height: 100px;
}

.row-fluid {
  margin-top: 20px;
}

.container-narrow {
  margin: 0 auto;
  max-width: 800px;
}

.without-margin-top {
  margin-top: 0 !important;
}

.masthead {
  margin-top: 40px;
}